.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f8ff; /* Fondo azul suave */
  }
  
  .welcome-banner {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .welcome-banner h1 {
    font-size: 2.5rem;
    color: #004080;
  }
  
  .welcome-banner p {
    font-size: 1.2rem;
    color: #333;
  }
  
  .menu-container {
    display: flex;
    gap: 20px;
  }
  
  .menu-btn {
    background-color: #008CBA;
    color: white;
    padding: 15px 30px;
    font-size: 1.2rem;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .menu-btn:hover {
    background-color: #005f73; /* Color más oscuro al hacer hover */
  }
  
  .menu-btn:active {
    background-color: #003f53;
  }
  